node_modules
.pnpm-store
dist
.turbo
*.tsbuildinfo
*.log
.env.local
.DS_Store
.expo
storybook-static
packages/web/.stencil
packages/web/loader
packages/web/src/components.d.ts
packages/web/www
packages/web/src/**/*.generated.css
