@import '../../../../tokens/dist/global.css';

:host {
  display: inline-block;
  width: auto;
  max-width: 100%;
  min-width: 0;
}

[data-slot='alert-title'] {
  width: auto;
  max-width: 100%;
  min-width: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
