leo-icon {
  display: inline-flex;
}

leo-icon span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  vertical-align: text-bottom;
  font-size: 1.5rem;
}

leo-icon span svg {
  display: inline-flex;
  font-size: inherit;
  height: 1em;
  width: 1em;
}

leo-icon span:not(.leo-icon--color-icon) svg,
leo-icon span:not(.leo-icon--color-icon) path,
leo-icon span:not(.leo-icon--color-icon) g,
leo-icon span:not(.leo-icon--color-icon) defs,
leo-icon span:not(.leo-icon--color-icon) clipPath,
leo-icon span:not(.leo-icon--color-icon) rect {
  fill: currentColor !important;
  color: inherit;
}

leo-icon span.leo-icon--custom-size svg {
  width: initial;
  height: initial;
}

leo-icon span.leo-icon--size-8 {
  font-size: 0.5rem !important;
}

leo-icon span.leo-icon--size-12 {
  font-size: 0.75rem !important;
}

leo-icon span.leo-icon--size-16 {
  font-size: 1rem !important;
}

leo-icon span.leo-icon--size-24 {
  font-size: 1.5rem !important;
}

leo-icon span.leo-icon--size-32 {
  font-size: 2rem !important;
}
